
.btxt {
    position:absolute;
    width:max-content;
    font-size:103px;
    color:#212C92;
    font-weight:700;
    font-family: 'Poppins',Sans-serif;
    letter-spacing:-1px;
    text-transform: uppercase
}

.btxt em {
    margin:0 30px;
    font-weight:700;
    color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#212C92;
    font-family: 'Poppins',Sans-serif;
}

.btxt + .inner {
    margin-top:300px !important
}

