@charset 'utf-8';

html {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
}

body {
    /* 수평 스크롤 삭제 */
    overflow-x: hidden;
    background-color: white;
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    animation: video-fadein 4s;
}

@keyframes video-fadein {
    
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color:gray
}

/* /////////////// 클래스 /////////////// */

.global-nav {
    position: absolute;
    width: 100%;
    height: 45px;
    left: 0;
    top: 0;
    background-color: white;

    z-index: 1;
}

.global-nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    max-width: 1200px;
    height: 100%;
    
    margin: 0 auto;
    font-size: 1.2rem;
}

.local-nav {
    position: absolute;
    width: 100%;
    height: 52px;
    left: 0;
    top: 45px;
    background-color: white;
    
    z-index: 1;
}

.local-nav-links {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.local-nav-product-link {
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: bold;
}

.local-nav-link {
    margin-left : 2em;
}

/* 네비게이션 end */

/* section0 video & title start */

.section0-message {

    position: absolute;
    width: 100%;
    height: 0;
    left: 5.5%;
    top: 30%;

    animation: text-fadein 5s;
    max-width: 1200px;

}

@keyframes text-fadein {

    from {
        opacity: 0;
        transform: translateY(7em);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.title-name-a {
    
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    color: #f0fdff;
    text-shadow: 0 8px 9px #bfcfcf, 0px -2px 1px #fff;
    letter-spacing: 0.3rem;

    margin-top: 4em;
    margin-left: 4.5em;

}

.title-name-b {

    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    color: #f0fdff;
    text-shadow: 0 8px 9px #bfcfcf, 0px -2px 1px #fff;
    letter-spacing: 0.3rem;

    margin-top: 5.5em;
    margin-left: 4.5em;
}

.title-name-c {

    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    color: #f0fdff;
    text-shadow: 0 8px 9px #bfcfcf, 0px -1px 1px rgb(199, 199, 199);

    margin-top: 16.5em;
    margin-left: 9.1em;
}

.section0-division-line {
    border-top: 1px solid white;
    margin: 30em 0px;
    margin-left: 18.5em;
    width: 600px;
}

.section0-division-line:after {
    content: "◆";
    position: relative;
    top: -12px;
    left: calc(50% - 8px);
    color: white;
}

/* section0 video end */

/* section0 subtitle start */

.section0-subtitle {
    position: relative;
    top: 10%;
}

.section0-subtext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
}

.section0-d {
    position: absolute;
    left: 0;
    top: 0;
}

.section0-e {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    color: rgb(78, 78, 78);

    margin-top: 5%;
}

/* section-0 end */

/* section-1 start */

.section1-canvas {
    /* position: fixed; */
    left: 0;
    top: 0;
}


.scroll-section {
    border: 1px solid red;
}

.section1-message {
    
    font-size: 4.5rem;
    font-weight: bold;
    color: rgb(134, 134, 134);

    width: 100%;
    height: 6em;
    left: 0;
    top: 5em;

    text-align: center;

}


/* sticky */

.sticky-element {
    display: none;
    position: fixed;
}

#show-section1 .sticky-element {
    display: block;
}

.local-nav-sticky > .local-nav {
    position : fixed;
    left: 0;
    top: 0;

    border-bottom: 1px solid gray;
    background-color: transparent;

    /* 필터 코드*/
    -webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);
}

.local-nav-sticky .local-nav-links {
    border: none;
}

/* id */

/* JS 연동 id 지정 */

#section0-subtitle {

    animation: content-transform 3s;

}

@keyframes content-transform {
    
    from {
        opacity: 0;
        transform: translateY(7em);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

