@charset 'utf-8';

html {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    color: black;
}

body {
    /* 수평 스크롤 삭제 */
    overflow-x: hidden;
    background-color: white;
}

video {
    display: block;
    margin: 0 auto;
    margin-top: 7.2em;

    animation: video-fadein 4s;
    width: 100vw;
    /* height: 100vh; */
    /* overflow: hidden; */

}

/* section {
    background-color: black;
} */

@keyframes video-fadein {
    
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color:gray
}

/* /////////////// 클래스 /////////////// */

.global-nav {
    position: absolute;
    width: 100%;
    height: 44px;
    left: 0;
    top: 0;
}

.global-nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 140%;
    max-width: 1000px;
    
    margin: 0 auto;
    
    font-size: 1.2rem;
    z-index: -2;
}

.local-nav {
    position: absolute;
    width: 100%;
    height: 52px;
    left: 0;
    top: 45px; /* 44px이 천장이기 때문에 더 크게 설정 */
    z-index: 1;
}

.local-nav-links {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid white;

}

.local-nav-product-link {
    /* Real Apple Pro의 오른쪽 마진을 최대로 설정해서
    글자가 왼쪽으로 움직이도록 함 */
    margin-right: auto;
    font-size: 1.4rem;
    font-weight: bold;
}

.local-nav-link {
    margin-left : 2em;
}

/* .section0-title {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
} */

.section0-message {

    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 18%;

    animation: text-fadein 5s;

}

@keyframes text-fadein {
    
    from {
        opacity: 0;
        transform: translateY(7em);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


.title-name-a {
    
    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    color: #f0fdff;
    text-shadow: 0 8px 9px #bfcfcf, 0px -2px 1px #fff;
    letter-spacing: 0.3rem;

    margin-top: 4em;
    margin-left: 4.5em;

}

.title-name-b {

    font-size: 4rem;
    font-weight: 600;
    text-align: left;
    color: #f0fdff;
    text-shadow: 0 8px 9px #bfcfcf, 0px -2px 1px #fff;
    letter-spacing: 0.3rem;

    margin-top: 5.5em;
    margin-left: 4.5em;
}

.title-name-c {

    font-size: 2rem;
    font-weight: 500;
    text-align: left;
    color: #f0fdff;
    text-shadow: 0 8px 9px #bfcfcf, 0px -1px 1px rgb(199, 199, 199);
    /* letter-spacing: 0.3rem; */

    margin-top: 16.5em;
    margin-left: 9.1em;
}

.section0-division-line {
    border-top: 1px solid white;
    margin: 30em 0px;
    margin-left: 18.5em;
    width: 600px;
}

.section0-division-line:after {
    content: "◆";
    position: relative;
    top: -12px;
    left: calc(50% - 8px);
    color: white;
}


.local-nav-sticky > .local-nav {
    position : fixed;
    left: 0;
    top: 0;

    border-bottom: 1px solid gray;

    /* 필터 코드*/
    -webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);

}

.local-nav-sticky .local-nav-links {
    border: none;

}

/* 부모 div display: flex */
.section0-subtitle {
    display: flex;
    
    justify-content: center;
    margin: 0 auto;
    margin-top: 10em;
    height: 100%;
    width: 100%;
}

.section0-maintext.e {
    /* text만 왼쪽 정렬 */
    text-align: left;
    
    margin-left: 5em;
    margin-top: 2.5em;
    font-size: 1.5rem;
    color: rgb(52, 51, 51);
}

.section0-maintext strong {
    font-size: 1.6rem;
}



/* section-0 end */

/* section-1 start */

.section1-canvas {
    /* position: fixed; */
    left: 0;
    top: 0;
}

#section1-canvas {
    width: 100vw;
    /* height: 100vh; */
    /* overflow: hidden; */
}

/* sticky 관련 속성 */
.sticky-element {
    display: none;
    position: fixed;
}

#show-section1 .sticky-element {
    display: block;
}

.scroll-section {
    border: 1px solid red;
}

/* id */

#section0-subtitle {

    animation: content-transform 3s;

}

@keyframes content-transform {
    
    from {
        opacity: 0;
        transform: translateY(7em);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
